@model PortalDelTrabajador2.Models.Permiso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Permiso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.desde)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desde)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hasta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hasta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trabajo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trabajo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firmadeljefe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firmadeljefe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firmadelgerente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firmadelgerente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipodeautorizacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipodeautorizacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idtrabajador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idtrabajador)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
